<div class="row align-items-center job-synergy-box">
  <div class="col-5 job-left">
    <div class="section-title"><i class="fas fa-pen fa-fw"></i> 本業から活かせたこと</div>
    <div class="simple-description">
      <%= job.pulled_skill %>
    </div>
  </div>
  <div class="col-2">
    <div class="synergy-icon"><i class="fas fa-exchange-alt fa-rotate-90 fa-5x"></i></div>
  </div>
  <div class="col-5 job-left">
    <div class="section-title"><i class="fas fa-pen fa-fw"></i> 本業へ還元できたこと</div>
    <div class="simple-description">
      <%= job.returned_skill %>
    </div>
  </div>
</div>
