// 初期設定
$dark:#006699;
$light: #EDF2F5;

@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';

// 汎用

html {
  position: relative;
  min-height: 100%;
}

body {
  box-sizing:         border-box;
  background-color: #feffff;
  padding-top: 62px;
  margin-bottom: 5rem;
}

.card-img-size {
  max-width: 100%;
}

.no-padding {
  padding: 0;
}

.black-link {
  a {
    color: #045cb4;
  }
  a:link {
    color:#045cb4;
  }
  a:visited {
    color:#045cb4;
  }
  a:hover {
    color:#6699cc;
    text-decoration:underline;
  }
  a:active {
    color:#6699cc;
  }
}

.required-tag {
  background-color: #EDAE0A;
  color: white;
  border-radius: 1rem;
  font-size: 0.75rem;
  padding: 0.125rem 0.75rem;
}

.pagination-box {
  margin-top: 40px;
}

.pagination {
  margin: 10px, 0;

  li {
    a {
      border: none;
      color: #696969;
    }

    a:hover {
      border-radius: 0.25rem;
    }
  }

  .active>a {
    background: #93c9ff;
    border-radius: 0.25rem;
  }
}

#error_explanation {
  color: red;
  padding: 0 3rem 1rem 3rem;
}

.notice {
  background-color: #c9f892;
  margin: 0;
  padding: 0;
}

.alert {
  background-color: #f8f092;
  margin: 0;
  padding: 0;
}

.btn {
  min-width: 5rem;
}

.btn-dark {
  color: #eeffff;
}

.btn-light {
  border: 1px solid #bdd4e2;
}

.page-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.field-title {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: bold;
  text-align: center;
}

.devise-link-area {
  margin-top: 3rem;
  text-align: center;

  a {
    color: #000000;
  }
  a:link {
    color:#000000;
  }
  a:visited {
    color:#000000;
  }
  a:hover {
    color:#6699cc;
    text-decoration:underline;
  }
  a:active {
    color:#6699cc;
  }
}

.flex-simple-description {
  border-radius: 0.5rem;
  background-color: #feffff;
  padding: 0.5rem;
  min-height: 9rem;
}

.simple-description {
  border-radius: 0.5rem;
  background-color: #feffff;
  min-height: 8rem;
  overflow: hidden;
  padding: 0.5rem;
}

.shortcut {
  white-space: nowrap; /* 横幅のMAXに達しても改行しない */
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
}

.shortcut-multi-line { 
  overflow: hidden; /* ハミ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」と省略 */
  -webkit-text-overflow: ellipsis; /* Safari */
}


// ヘッダー
.navbar {
  box-shadow: 0 2px 4px 0 #003366;
  
  .navbar-brand {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;;
  }
}


// フッター
footer {
  position: absolute;
  width: 100%;
  bottom: 0;

  .copy-right {
    text-align: center;
    margin: 0 auto;
  }
}

// トップページ
.top-background-img-wrapper {
  overflow-x: hidden;
  position: relative;
  
  .top-background-img {
    background-position: center center;
    max-width: 100%;
    min-width: 1140px;
  }

  .top-container {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);

    .top-copy {
      color: #dddddd;
      font-size: 1.75rem;
      font-family: sans-serif;
      background-color: rgba($color: #000000, $alpha: 0.5);
      box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
      
      p {
        margin-bottom: 0.75rem;
      }
    }
      
    .top-signup {
      color: #dddddd;
      font-family: sans-serif;
      background-color: rgba($color: #000000, $alpha: 0.5);
      box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
      margin-top: 3rem;
    }
  }
}

.link-signup {
  display: inline-block;
  margin-top: 1.5rem;

  .btn-signup {
    font-size: 1.125rem;
  }
}

.area {
  text-align: center;
  padding: 3rem 0;

  .area-title {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-align: center;
  }
}


.benefit-area {
  background-color: #edf2f5;

  .benefit-box {
    margin: 0.5rem;
    background-color: #fff;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    border: #6699cc 1px solid;
    color: $dark;
  }

  .benefit-description {
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: left;
    padding: 0.5rem 1rem;
    min-height: 8.5rem;
  }
}

.tutorial-area {
  background-color: #eeffff;

  .media {
    margin: 1rem 0;
    border: 1px solid #6699cc;
    background-color: #fff;
    border-radius: 0.5rem;

    .use-step-row {
      width: 100%;

      .use-step-icon-box {
        border-right: 1px solid #6699cc;
        padding: 0;
        display: flex;
        align-items: center;

        .use-step-icon {
          max-width: 100%;
        }
      }

      .use-step {
        text-align-last: left;
        padding: 0.5rem 0;
      }
    }
  }
}

.registration-area {
  .page-transition {
    text-align-last: left;
    margin: 1rem 0;
    vertical-align: middle;
    padding: 2rem 0;

    .user-attribute {
      vertical-align: middle;
      text-align: center;
      font-size: 1.25rem;
    }
  }
}

.job-index-area {
  border-top: 1px solid #edf2f5;
}


// 入力フォーム系
.input-field {
  background-color: #edf2f5;
  padding: 2rem 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 1rem;
}

.field {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1.5rem;
}

.input-form {
  width: 100%;
  border-radius: 0.25rem;
  height: 2rem;
  border: 1px solid #fff;
}

.input-form-select {
  border: none;
  height: 2rem;
}

.input-form-large {
  width: 100%;
  border-radius: 0.25rem;
  height: 4rem;
  border: 1px solid #fff;
}

.skill-input-table {
  background-color: #fff;
  border: #fff;

  th {
    font-weight: normal;
    text-align: center;
  }

  th, td {
    padding: 0 1rem;
  }
}

.form-in-table {
  display: inline-block;
  margin: 0.4rem auto;
  width: 100%;
  border-radius: 0.25rem;
  height: 2rem;
  border: 1px solid #bdd4e2;
}

.btn-submit {
  margin-top: 4rem;
  text-align: center;
}
  
// Job 登録ページ
.if-working-individually {
  display: none;
}

// Job 一覧ページ
.search-box {
  background-color: #a3cbdf;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;

  .input-form {
    height: 2.5rem;
  }
}

.card {
  margin-bottom: 4rem;
  box-shadow: 5px 5px 5px 0 #003366;

  .card-header {
    background-color: #006699;
    color: #ffffff;
    border: none;
    padding: 5px 20px;

    .job-transition {
      .job-name {
        display: inline-block;
        max-width: 47%;
        padding: 0.25rem 0;
        vertical-align: middle;
      }
      .arrow {
        display: inline-block;
        width: 6%;
        text-align: center;
        vertical-align: middle;
      }
    }
    
    .stock_comment_icon {
      display: inline-block;
    }

    a {
      color: #ffffff;
    }
    a:link {
      color:#ffffff;
      }
    a:visited {
    color:#ffffff;
    }
    a:hover {
    color:#99ffff;
    text-decoration:underline;
    }
    a:active {
    color:#6699cc;
    }
  }


  .card-content {
    background-color: #edf2f5;

    .simple-description {
      margin: 1rem;
      height: 8.25rem;
    }
    .skill-tags-explanation {
      text-align: center;
      margin-bottom: 0.5rem;
      span {
        background-color: #feffff;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        font-weight: bold;
      }
    }

    .skill-tags-vertical {
      padding: 0 2% 4% 2%;

      .skill-tags-title {
        border-bottom: 1px solid #aacddf;

      }
      .skill-tag-row {
        text-align: center;
        margin-bottom: 0.25rem;
        .skill-tag {
          display: inline-block;
        }
        .skill-main-tags {
          width: 18%;
        }
        .skill-name {
          width: 60%;
        }
        .skill-side-tags {
          width: 18%;
        }
      }
    }
  }

  .card-footer {
    .card-personal-info {
      display: inline-block;
    }

  }

}


.edit_or_delete {
  display: inline-block;
}

// Jobタグ
.tag {
  border: 1px solid #edf2f5;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  margin: 0.25em;
}
.main-tag {
  background-color: #006699;
  color: #aacddf;
}
.side-tag {
  background-color: #aacddf;
  color: #006699;
}




// Job 詳細ページ

.job-show-title-box{
    font-size: 1.5rem;
  .job-show-title {
    font-size: 2rem;
    font-weight: bold;
  }
  a {
    color: #000000;
  }
  a:link {
    color:#000000;
    }
  a:visited {
  color:#000000;
  }
  a:hover {
  color:#99ffff;
  text-decoration:underline;
  }
  a:active {
  color:#6699cc;
  }
}

.job-show-board {
  margin-bottom: 2rem;
  box-shadow: 5px 5px 5px 0 #003366;
  background-color: #edf2f5;
  padding: 2rem;

  .section-title {
    display: inline-block;
    border: #006699 1px solid;
    border-radius: 1rem;
    padding: 0 1rem 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #aacddf;
    color: #006699;
  }

  .job-summary-box {
    padding: 2rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: #006699 1px solid;
    position: relative;

    .job-summary-title {
      position: absolute;
      top: -1px;
      left: -1px;
      border: #006699 1px solid;
      border-radius: 0.4rem 0 0.4rem 0;
      padding: 0.25rem 1rem;
    }
    .job-summary-title-main {
      background-color: #edf2f5;
      color: #006699;
    }
    .job-summary-title-side {
      background-color: #006699;
      color: #feffff;
    }

    .job-profile-table {
      background-color: #fff;
      width: 90%;
      border: #edf2f5;
      border-radius: 0.5rem;

      th {
        width: 7rem;
      }
      td {
        padding: 0.25rem 0.5rem;
      }
    }
  }

  .job-synergy-box {
    margin: 2rem auto;

    .synergy-icon {
      vertical-align: middle;
      margin: 0 auto;
      text-align: center;
      color: #006699;
    }
  }
}

.comment-form {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #bdd4e2;
}

.comment-time-stamp {
  color: #888888;
}

// ユーザー編集
.edit-field {
  background-color: #edf2f5;
  min-height: 580px;
  margin-top: 2rem;
  border-radius: 0.5rem;
  
  .tab-content {
    padding: 2rem 0;
    
    .personal-info {
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  .nav-pills {
    .active{
      background-color: $dark;
    }
  }

  .img-preview {
    max-height: 100px;
    max-width: 100px;
    border: none;
  }
}

// ユーザー詳細ページ
.side-name {
  display: inline-block;
}

.stats-bar {
  margin: 0.25rem;
  border-bottom: 1px solid #bdd4e2;
  padding: 0.5rem 0;
  vertical-align: middle;

  .stats-item {
    display: inline-block;
  }
}

.job-list {
  display: inline-block;
  list-style: none;
  padding: 0;
}
