
$dark:#006699;

@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free';



body {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  background-color: #feffff;
  padding-top: 50px;
}
.no-padding {
  padding: 0;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
.navbar {
  box-shadow: 0 2px 4px 0 #003366;
}

.navbar-brand {
  font-size: 1.5rem;
  // font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;;
}

.field {
  width: 90%;
  margin-bottom: 10px;
}

.field-left {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
  margin-right: 10px;
}

.field-right {
  display: inline-block;
  width: 65%;
}

.input-form {
  width: 80%;
}

.job-left{
  width: 30%;
}

.job-center{
  width: 30%;
}

.job-right{
  width: 30%;
}

.description-400 {
  border: 1px solid;
  height: 30px;
  }


.pagination-box {
  margin-top: 40px;
}

.pagination {
  // display: inline-block;
  margin: 10px, 0;
  // text-align: center;
  li {
    a {
      border: none;
      color: #696969;
    }
    a:hover {
      border-radius: 0.25rem;
    }
  }
  .active>a {
    background: #93c9ff;
    border-radius: 0.25rem;
  }

  
}

.card {
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 0 #003366;
}

.card-header {
  background-color: #006699;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  .name-holder-sm {
    font-size: 1.5rem;
  }
  a {
    color: #ffffff;
  }
  a:link {
    color:#ffffff;
    }
  a:visited {
  color:#ffffff;
  }
  a:hover {
  color:#99ffff;
  text-decoration:underline;
  }
  a:active {
  color:#6699cc;
  }
}
.card-body {
  background-color: #edf2f5;
}
.card-content {
  background-color: #edf2f5;
}
.tag {
  border: 1px solid #edf2f5;
  border-radius: 1rem;
  padding: 0.2rem;
}
.main-tag {
  background-color: #006699;
  color: #aacddf;
}
.side-tag {
  background-color: #aacddf;
  color: #006699;
}

.card-img-size {
  width: 100%;
}
.job-transition {
  display: inline-block;
  width: 100%;
  margin: 0.25rem auto;
  .main-name {
  display: inline-block;
    padding: 0;
    width: 42%;
    text-align: center;
  }
  .arrow {
    display: inline-block;
    padding: 0;
    width: 6%;
    text-align: center;
  }
  .side-name {
    display: inline-block;
    padding: 0;
    width: 42%;
    text-align: center;
  }
  .link-to-job {
    display: inline-block;
    width: 4%;
  }
}

.card-content-wrapper {
  margin: 0;
}
.skill-tags-explanation {
  text-align: center;
  margin-bottom: 0.5rem;
  span {
    background-color: #feffff;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-weight: bold;

  }
}
.skill-tags-vertical {
  min-width: 100%;
  margin: 0.5rem auto;
  .skill-tag-row {
    text-align: center;
    .skill-tag {
      display: inline-block;
    }
    .skill-main-tags {
      width: 18%;
    }
    .skill-name {
      width: 60%;
    }
    .skill-side-tags {
      width: 18%;
    }
  }
}


.simple-description {
  // border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #feffff;
  height: 9rem;
  margin: 1rem;
  padding: 0.5rem;
}

.job-show-title-box{
    font-size: 1.5rem;
  .job-show-title {
    font-size: 2rem;
    font-weight: bold;
  }
  a {
    color: #000000;
  }
  a:link {
    color:#000000;
    }
  a:visited {
  color:#000000;
  }
  a:hover {
  color:#99ffff;
  text-decoration:underline;
  }
  a:active {
  color:#6699cc;
  }
}