<footer>
  <nav class="navbar navbar-expand-lg  navbar-secondary" style="background-color: #eeeeee">
    <div class="container text-center">
      <span class="copy-right text-center">
        Copyright - yusuke sakamoto, 2020 All Rights Reserved. 
      </span>
    </div>
  </nav>
</footer>